<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/style.css">

    <title>Trinket Gold Collection</title>

</head>
<body>
<header>
    <a href="trinket_list.html">Брелки</a>
    <a href="wwmap.html">Карта</a>
    <a href="mixview.html">Микс</a>
</header>

<div class="container" style="margin-top:30px">

		<div class="row">
            {%  for trinket in trinkets %}
			<div class="col-sm-6 col-md-4 col-lg-2">
				<div class="card">

	        		<img class="card-img" alt="Card header image" src="{{ MEDIA_URL }}{{ trinket.picture.url }}" width="250px">
	            	<div class="card-body">
		            	<h5 class="card-title">Country: {{trinket.country }}</h5>
		                <p class="card-text">City: {{trinket.city}}</p>
		                <p class="card-text">Author: {{ trinket.author }}</p>
                        <p class="card-text">Date: {{ trinket.year }}</p>
	            	</div>
	        	</div>
            </div>
         {% endfor %}
        </div>
</div>
</body>
</html>